{variables, [{name, "{{name}}"},
             {author, "{{author}}" },
             {author_email, "{{author_email}}" },
             {copyright_holder, "{{copyright_holder}}" },
             {copyright_year,   "{{copyright_year}}" },
	     {dir, "."}]}.

{template, "library/module.erl", "{{dir}}/{{name}}.erl"}.